@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    background-image: url("./assets/Background.png"),
    url("./assets/brooke-lark-15831017-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials {
    background-image: url("./assets/Background (1).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribeInside {
    background-image: url("./assets/Background (2).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.organickOnlyInside{
  background-image: url("./assets/Background Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}